<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Update Division</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}" />
    <script th:src="@{/javascript/script.js}"></script>
</head>
<body>
    <header>
        <img class="logo" th:src="@{/images/Apple.png}" th:href="@{/static}" alt="Apple Logo">
        <nav>
            <ul class="nav__links">
                <li><a th:href="@{/assignment}">Assignments</a></li>
                <li><a th:href="@{/building}">Buildings</a></li>
                <li><a th:href="@{/course}">Courses</a></li>
                <li><a th:href="@{/division}">Divisions</a></li>
                <li><a th:href="@{/enrollment}">Enrollment</a></li>
                <li><a th:href="@{/grade}">Grades</a></li>
                <li><a th:href="@{/professor}">Professors</a></li>
                <li><a th:href="@{/room}">Rooms</a></li>
                <li><a th:href="@{/semester}">Semesters</a></li>
                <li><a th:href="@{/student}">Students</a></li>
            </ul>
        </nav>
        <a class="cta" href="https://www.linkedin.com/in/gage-carpenter-07750a174/"><button>Login</button></a>
    </header>
    <section>
        <h1>Update Division</h1>
        <form th:action="@{/division/update/{id}(id=${division.id})}" method="post" th:object="${division}">
            <label for="time">Time:</label>
            <input type="text" id="time" name="time" th:field="*{time}" required><br>
            <label for="professor">Professor:</label>
            <select id="professor" name="professorId" th:field="*{professor.id}" required>
                <option th:each="professor : ${professors}" th:value="${professor.id}" th:text="${professor.firstName + ' ' + professor.lastName}"></option>
            </select><br>
            <label for="semester">Semester:</label>
            <select id="semester" name="semesterId" th:field="*{semester.id}" required>
                <option th:each="semester : ${semesters}" th:value="${semester.id}" th:text="${semester.startDate + ' - ' + semester.endDate}"></option>
            </select><br>
            <label for="course">Course:</label>
            <select id="course" name="courseId" th:field="*{course.id}" required>
                <option th:each="course : ${courses}" th:value="${course.id}" th:text="${course.name}"></option>
            </select><br>
            <label for="room">Room:</label>
            <select id="room" name="roomId" th:field="*{room.id}" required>
                <option th:each="room : ${rooms}" th:value="${room.id}" th:text="${room.building.name + ' - Room ' + room.id}"></option>
            </select><br>
            <button type="submit">Update</button>
            <a class="cancel" th:href="@{/division}">Cancel</a>
        </form>
    </section>
</body>
</html>