<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add Grade</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}" />
    <script th:src="@{/javascript/script.js}"></script>
</head>
<body>
    <header>
        <img class="logo" th:src="@{/images/Apple.png}" th:href="@{/static}" alt="Apple Logo">
        <nav>
            <ul class="nav__links">
                <li><a th:href="@{/assignment}">Assignments</a></li>
                <li><a th:href="@{/building}">Buildings</a></li>
                <li><a th:href="@{/course}">Courses</a></li>
                <li><a th:href="@{/division}">Divisions</a></li>
                <li><a th:href="@{/enrollment}">Enrollment</a></li>
                <li><a th:href="@{/grade}">Grades</a></li>
                <li><a th:href="@{/professor}">Professors</a></li>
                <li><a th:href="@{/room}">Rooms</a></li>
                <li><a th:href="@{/semester}">Semesters</a></li>
                <li><a th:href="@{/student}">Students</a></li>
            </ul>
        </nav>
        <a class="cta" href="https://www.linkedin.com/in/gage-carpenter-07750a174/"><button>Login</button></a>
    </header>
    <section>
        <h1>Add Grade</h1>
        <form th:action="@{/grade/add}" method="post" th:object="${grade}">
            <label for="points">Points:</label>
            <input type="number" id="points" name="points" th:field="*{points}" required><br>
            <label for="assignment">Assignment:</label>
            <select id="assignment" name="assignmentId" required>
                <option th:each="assignment : ${assignments}" th:value="${assignment.id}" th:text="${assignment.name}"></option>
            </select><br>
            <label for="division">Division:</label>
            <select id="division" name="divisionId" required>
                <option th:each="division : ${divisions}" th:value="${division.id}" th:text="${division.time}"></option>
            </select><br>
            <label for="student">Student:</label>
            <select id="student" name="studentId" required>
                <option th:each="student : ${students}" th:value="${student.id}" th:text="${student.firstName + ' ' + student.lastName}"></option>
            </select><br>
            <label for="professor">Professor:</label>
            <select id="professor" name="professorId" required>
                <option th:each="professor : ${professors}" th:value="${professor.id}" th:text="${professor.firstName + ' ' + professor.lastName}"></option>
            </select><br>
            <button type="submit">Add Grade</button>
        </form>
        <a class="cancel" href="/grade">Cancel</a>
    </section>
</body>
</html>