*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

li, a, button {
    font-family: "Roboto Light", sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #edf0f1;
    text-decoration: none;
}

h1 {
    font-family: "Roboto Light", sans-serif;
    font-size: 50px;
    margin-bottom: 20px;
    color: #333;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;
    background-color: #000000;
}

section {
    max-width: 75%;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
}

.logo{
    cursor: pointer;
    width: 100px;
    height: auto;
}

.nav-links{
    list-style: none;
}

.nav__links li{
    display: inline-block;
    padding: 0 20px;
}

.nav__links li a{
    transition: all 0.3s ease 0s;
}

button{
    padding: 9px 25px;
    border: none;
    background-color: #ffffff;
    color: #000000;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

.add__btn{
    margin-top: 40px;
    background-color: #2980b9;
    color: #fff;
    font-family: "Roboto Light", sans-serif;
    font-size: 24px;
}

.del__btn{
    background-color: #000000;
    color: #fff;
}

.update__btn{
    background-color: #000000;
    color: #fff;
}

/* Table Styles */
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

th {
    background-color: #f2f2f2;
    color: #333;
    font-weight: 600;
    font-family: "Roboto Light", sans-serif;
    font-size: 24px;
}

td {
    font-family: "Roboto Light", sans-serif;
    font-size: 20px;
    color: #333;
}

tr:hover {
    background-color: #f5f5f5;
}