<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Professor</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}" />
    <script th:src="@{/javascript/script.js}"></script>
</head>
<body>
    <header>
        <img class="logo" th:src="@{/images/Apple.png}" th:href="@{/static}" alt="Apple Logo">
        <nav>
            <ul class="nav__links">
                <li><a th:href="@{/assignment}">Assignments</a></li>
                <li><a th:href="@{/building}">Buildings</a></li>
                <li><a th:href="@{/course}">Courses</a></li>
                <li><a th:href="@{/division}">Divisions</a></li>
                <li><a th:href="@{/enrollment}">Enrollment</a></li>
                <li><a th:href="@{/grade}">Grades</a></li>
                <li><a th:href="@{/professor}">Professors</a></li>
                <li><a th:href="@{/room}">Rooms</a></li>
                <li><a th:href="@{/semester}">Semesters</a></li>
                <li><a th:href="@{/student}">Students</a></li>
            </ul>
        </nav>
        <a class="cta" href="https://www.linkedin.com/in/gage-carpenter-07750a174/"><button>Login</button></a>
    </header>
    <section>
        <h1>Professors</h1>
        <table>
            <thead>
            <tr>
                <th>ID</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Email</th>
                <th>Phone Number</th>
                <th>Address</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="professor : ${professors}">
                <td th:text="${professor.id}"></td>
                <td th:text="${professor.firstName}"></td>
                <td th:text="${professor.lastName}"></td>
                <td th:text="${professor.email}"></td>
                <td th:text="${professor.phoneNumber}"></td>
                <td th:text="${professor.address}"></td>
                <td>
                    <a th:href="@{/professor/update/{id}(id=${professor.id})}"><button class="update__btn">Update</button></a>
                    <a th:href="@{/professor/delete/{id}(id=${professor.id})}"><button class="del__btn">Delete</button></a>
                </td>
            </tr>
            </tbody>
        </table>
        <a class="add" th:href="@{/professor/add}"><button class="add__btn">Add Professor</button></a>
    </section>
</body>
</html>